#!/usr/bin/make -f
export DEB_BUILD_OPTIONS=nocheck

%:
	dh $@ --with python3 --buildsystem=pybuild


override_dh_auto_install:
	dh_auto_install

override_dh_installinit:
	dh_systemd_enable  --name=yubi_bridge yubi_bridge.service

# No need for a custom clean target
# clean:
#     dh_clean
